# Py: User interface options

# Background
This notebook sets out example use cases for two user interface packages for low-code pandas data transformation - using [pandas_ui](https://github.com/arunnbaba/pandas_ui) and [pandasgui](https://pypi.org/project/pandasgui/).

## Pandas_ui
See ['getting started'](https://github.com/arunnbaba/pandas_ui) notes on the pandas_ui github page.

### Data prep

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

flights = sns.load_dataset('flights')
flights.to_csv('./app/flights.csv', index=False)
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

### Transformations

In [2]:
from pandas_ui import *
pandas_ui('./app/flights.csv')

Tab(children=(Output(), Output(), Output(), Output()), _titles={'0': 'DataFrame', '1': 'PandasProfoling', '2':â€¦

## Pandasgui
See ['usage'](https://github.com/adamerose/pandasgui) notes on the pandasgui github page.

from pandasgui import show
show(flights)

## Other options

Other low code packages supporting data transformation exist in both r and python. In [databricks](https://www.databricks.com/), bamboolib is a versatile alternative closed source package although it currently does not support spark dataframes.